Source: libdisplaycore-toolkit-monoicon
Section: main
Priority: extra
Maintainer: Matt Jenkins <matt@majenko.co.uk>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4

Package: libdisplaycore-toolkit-monoicon
Section: main
Architecture: all
XBSC-Group: DisplayCore
XBSC-Subgroup: Toolkits
Depends: libdisplaycore-core
Provides: MonoIcon.h
Description: MonoIcon library
 The MonoIcon widgets system creates small stylish buttons with coloured icons on them.
 The colour of the icon is determined in software and each icon is loaded from a
 compatible icon set. Icons are an 8-bit array of alpha values which are applied to the
 colour chosen for the icon.



